* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 20px;
}

button {
  border: none;
  background-color: transparent;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: teal;
  background-image: url(./images/background.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card {
  position: relative;
  width: 100%;
  max-width: 80%;
  min-width: 250px;
  padding: 3.5rem 2rem 3rem;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card .topIcons {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  height: 2.5rem;
  padding: 0.5rem 1rem;
}

.card .favorite {
}

.card .topIcons svg,
.card .topIcons .favorite svg {
  color: #333;
  font-size: 1.3rem;
  cursor: pointer;
}

.card .topIcons .favorite svg {
  color: #f00;
  margin-top: 3px;
  font-size: 1.6rem;
  margin-left: 0.5rem;
}

.card h1 {
  font-weight: 400;
  font-size: 2.2rem;
  margin-bottom: 1rem;
  line-height: 1.5;
  text-align: center;
}

.card button.newAdviceBtn {
  color: #333;
  font-weight: bold;
  background: #d9f02b;
  background-image: -webkit-linear-gradient(top, #d9f02b, #d6db40);
  background-image: -moz-linear-gradient(top, #d9f02b, #d6db40);
  background-image: -ms-linear-gradient(top, #d9f02b, #d6db40);
  background-image: -o-linear-gradient(top, #d9f02b, #d6db40);
  background-image: linear-gradient(to bottom, #d9f02b, #d6db40);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-size: 1rem;
  padding: 10px 20px 10px 20px;
  border: none;
  cursor: pointer;
}
